.welcome{
  text-align: center;
  margin-top: 5vh;
  font-family: champagne__limousinesregular, sans-serif;
}
.overview{
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background-image: radial-gradient(#5f9e5c, #0d841c);
  padding: 20px;
  height: 80vh;

}
.type-button{
/ / background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/A_small_cup_of_coffee.JPG/1200px-A_small_cup_of_coffee.JPG");
  width: 100%;
  height: 100%;
}

@media only screen
and (min-device-width: 544px) {
  .button-padding-left {
    padding-left: 100px;

  }

  .button-padding-right {
    padding-right: 100px;
  }
}

.row-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
.selector{

  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  background-image: radial-gradient(#9e7439, #483217);
  padding: 20px;
  height: 80vh;
}
.carousel-item{
  height: 70vh;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: rgb(5, 12, 29);
  min-height: 100vh;
  display: flow;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
