/*Creds: https://codepen.io/sashatran/pen/aBZVPp*/

.saucer {
    margin: 0 auto 0;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #FFF;
    box-shadow: 5px 1px 30px #948296;
    border: 5px solid #FFF;
}

.empty {
    transform-origin: center;
    margin-top: 10px;
    margin-left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-image: linear-gradient(-45deg, black, #ffffff, #ffffff, #d2d2d2);
    box-shadow: 0 0 10px #000;
}

.coffee-regular {
    transform-origin: center;
    zoom: 1;
}

.coffee-large {
    transform-origin: center;
    zoom: 1.1;
}

.coffee-small {
    transform-origin: center;
    zoom: 0.8;
}
.cup {
    margin: 40px auto 0;
    left: 45px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 10px solid #FFF;
    box-shadow: 0 10px 30px #948296;
}

.inner {
    margin: 0 auto;
    top: 180px;
    left: 260px;
    width: 100px;
    height: 80px;
    border-radius: 100%;
    box-shadow: -10px 10px 60px #948296;
}

.holder {
    margin: -55px auto 0 -30px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border-radius: 30%;

}

.coffee {
    width: 80px !important;
    height: 80px !important;
    border-radius: 100%;
}

.flat_white {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #c29948;
}

.cappuccino {
    background-color: #FC9E4F;
}

.marshmallow {
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #ffffff;
    box-shadow: inset 0 0 10px #dcdcdc;
}

.sugar1 {
    position: absolute;
    margin-top: 50px;
    margin-left: 25px;
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 10px #dcdcdc;
    transform: rotate(20deg);
}

.sugar2 {
    position: absolute;
    margin-top: 25px;
    margin-left: 55px;
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 10px #dcdcdc;
    transform: rotate(70deg);
}


.latte {
    background-color: #C3B299;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.short_black {

    background-color: #954e27;
    box-shadow: inset 0 0 10px #000;
}

.water {

    background-color: #47A8BD;
    opacity: 0.5;
}

.shine {
    margin: 0 auto;
    margin-right: -3px;
    width: 30px;
    height: 10px;
    background-color: #FFF;
    opacity: 0.3;
    border-radius: 100%;;
    top: 10px;
    left: 53px;
    transform: rotate(35deg);
}

.foam {
    margin: 0 auto;
    margin-top: -15px;
    background-color: #FFF;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    opacity: 0.7;
    filter: blur(10px);
}




